/* banner part start */
.banner{
  background-image: url("https://cdn.shopify.com/s/files/1/0104/6917/9492/files/phono-slider-1.jpg?v=1613704452");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  height: 550px;
  
}
.banner-content{
  height: 550px;
  display: flex;
  align-items: center;
}
.banner-content h1{
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  line-height: 90px;
  text-transform: uppercase;
  
}
/* banner part end */

/* categories part start */
.cat-img{
  height: 270px;
  object-fit: cover;
}
/* categories part end */

/* side nav bar part start */
.user-sm-box img,.profile-box img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.user-sm-box{
  background-color: #f1f1f1;
  min-height: 100vh;
  
}
.divider {
  height: 2px;
  background-color: #130f40;
  border-radius: 5px;
}
.profile-box img{
  width: 150px;
  height: 150px;
}
/* side nav bar part end */

/* category card part start */
.category-card img{

  height: 350px;
  width: 100%;
  object-fit: cover;

}
/* category card part end */

/* my product part start */
.table-box img{
  width: 100px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
}
.table-box{
  overflow-x: scroll;
}
/* my product part end */

/* all seller part start */
.verified{
  width: 16px !important;
  height: 16px !important;
}
.error-box{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-box img{
  max-width: 350px;
}
.spinner-box,.private-box{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* all seller part end */